{{ ansible_managed | comment }}
{% if anubis_asset_lookup_header is defined %}
ASSET_LOOKUP_HEADER="{{ anubis_asset_lookup_header }}"
{% endif %}
{% if anubis_base_prefix is defined %}
BASE_PREFIX="{{ anubis_base_prefix }}"
{% endif %}
{% if anubis_bind is defined %}
BIND="{{ anubis_bind }}"
{% endif %}
{% if anubis_bind_network is defined %}
BIND_NETWORK="{{ anubis_bind_network }}"
{% endif %}
{% if anubis_challenge_title is defined %}
CHALLENGE_TITLE="{{ anubis_challenge_title }}"
{% endif %}
{% if anubis_cookie_domain is defined %}
COOKIE_DOMAIN="{{ anubis_cookie_domain }}"
{% endif %}
{% if anubis_cookie_dynamic_domain is defined %}
COOKIE_DYNAMIC_DOMAIN="{{ anubis_cookie_dynamic_domain | lower }}"
{% endif %}
{% if anubis_cookie_expiration_time is defined %}
COOKIE_EXPIRATION_TIME="{{ anubis_cookie_expiration_time }}"
{% endif %}
{% if anubis_custom_real_ip_header is defined %}
CUSTOM_REAL_IP_HEADER="{{ anubis_custom_real_ip_header }}"
{% endif %}
{% if anubis_cookie_partitioned is defined %}
COOKIE_PARTITIONED="{{ anubis_cookie_partitioned | lower }}"
{% endif %}
{% if anubis_cookie_prefix is defined %}
COOKIE_PREFIX="{{ anubis_cookie_prefix }}"
{% endif %}
{% if anubis_cookie_secure is defined %}
COOKIE_SECURE="{{ anubis_cookie_secure | lower }}"
{% endif %}
{% if anubis_cookie_same_site is defined %}
COOKIE_SAME_SITE="{{ anubis_cookie_same_site }}"
{% endif %}
{% if anubis_difficulty is defined %}
DIFFICULTY="{{ anubis_difficulty }}"
{% endif %}
{% if anubis_difficulty_in_jwt is defined %}
DIFFICULTY_IN_JWT="{{ anubis_difficulty_in_jwt | lower }}"
{% endif %}
{% if anubis_ed25519_private_key_hex is defined %}
ED25519_PRIVATE_KEY_HEX="{{ anubis_ed25519_private_key_hex }}"
{% endif %}
{% if anubis_ed25519_private_key_hex_file is defined %}
ED25519_PRIVATE_KEY_HEX_FILE="{{ anubis_ed25519_private_key_hex_file }}"
{% endif %}
{% if anubis_error_title is defined %}
ERROR_TITLE="{{ anubis_error_title }}"
{% endif %}
{% if anubis_jwt_restriction_header is defined %}
JWT_RESTRICTION_HEADER="{{ anubis_jwt_restriction_header }}"
{% endif %}
{% if anubis_metrics_bind is defined %}
METRICS_BIND="{{ anubis_metrics_bind }}"
{% endif %}
{% if anubis_metrics_bind_network is defined %}
METRICS_BIND_NETWORK="{{ anubis_metrics_bind_network }}"
{% endif %}
{% if anubis_metrics_og_expiry_time is defined %}
OG_EXPIRY_TIME="{{ anubis_metrics_og_expiry_time }}"
{% endif %}
{% if anubis_og_passthrough is defined %}
OG_PASSTHROUGH="{{ anubis_og_passthrough | lower }}"
{% endif %}
{% if anubis_og_cache_consider_host is defined %}
OG_CACHE_CONSIDER_HOST="{{ anubis_og_cache_consider_host | lower }}"
{% endif %}
{% if anubis_overlay_folder is defined %}
OVERLAY_FOLDER="{{ anubis_overlay_folder }}"
{% endif %}
{% if anubis_policy_fname is defined %}
POLICY_FNAME="{{ anubis_policy_fname }}"
{% endif %}
{% if anubis_public_url is defined %}
PUBLIC_URL="{{ anubis_public_url }}"
{% endif %}
{% if anubis_redirect_domains is defined %}
REDIRECT_DOMAINS="{{ anubis_redirect_domains | join(',') }}"
{% endif %}
{% if anubis_serve_robots_txt is defined %}
SERVE_ROBOTS_TXT="{{ anubis_serve_robots_txt | lower }}"
{% endif %}
{% if anubis_slog_level is defined %}
SLOG_LEVEL="{{ anubis_slog_level }}"
{% endif %}
{% if anubis_socket_mode is defined %}
SOCKET_MODE="{{ anubis_socket_mode }}"
{% endif %}
{% if anubis_strip_base_prefix is defined %}
STRIP_BASE_PREFIX="{{ anubis_strip_base_prefix | lower }}"
{% endif %}
{% if anubis_target is defined %}
TARGET="{{ anubis_target }}"
{% endif %}
{% if anubis_use_remote_address is defined %}
USE_REMOTE_ADDRESS="{{ anubis_use_remote_address }}"
{% endif %}
{% if anubis_use_simplified_explanation is defined %}
USE_SIMPLIFIED_EXPLANATION="{{ anubis_use_simplified_explanation | lower }}"
{% endif %}
{% if anubis_use_templates is defined %}
USE_TEMPLATES="{{ anubis_use_templates | lower }}"
{% endif %}
{% if anubis_webmaster_email is defined %}
WEBMASTER_EMAIL="{{ anubis_webmaster_email }}"
{% endif %}
{% if anubis_xff_strip_private is defined %}
XFF_STRIP_PRIVATE="{{ anubis_xff_strip_private | lower }}"
{% endif %}
{% if anubis_forced_language is defined %}
FORCED_LANGUAGE="{{ anubis_forced_language }}"
{% endif %}
{% if anubis_hs512_secret is defined %}
HS512_SECRET="{{ anubis_hs512_secret }}"
{% endif %}
{% if anubis_target_disable_keepalive is defined %}
TARGET_DISABLE_KEEPALIVE="{{ anubis_target_disable_keepalive | lower }}"
{% endif %}
{% if anubis_target_host is defined %}
TARGET_HOST="{{ anubis_target_host }}"
{% endif %}
{% if anubis_target_insecure_skip_verify is defined %}
TARGET_INSECURE_SKIP_VERIFY="{{ anubis_target_insecure_skip_verify | lower }}"
{% endif %}
{% if anubis_target_sni is defined %}
TARGET_SNI="{{ anubis_target_sni }}"
{% endif %}
