---
- name: Create containers
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Create containers
      containers.podman.podman_container:
        hostname: "{{ item }}"
        name: "{{ item }}"
        image: "{{ hostvars[item]['container_image'] }}"
        state: started
      loop: "{{ groups['molecule'] }}"

    - name: Wait for containers to be ready
      ansible.builtin.wait_for_connection:
        timeout: 300
      delegate_to: "{{ item }}"
      loop: "{{ groups['molecule'] }}"
