---
- name: Reload systemd
  become: true
  ansible.builtin.systemd_service:
    daemon_reload: true

- name: Restart service
  become: true
  ansible.builtin.service:
    name: pgbackrest_exporter
    state: restarted
