---
molecule:
  hosts:
    deb12:
      ansible_connection: containers.podman.podman
      container_image: docker.io/geerlingguy/docker-debian12-ansible:latest
    deb13:
      ansible_connection: containers.podman.podman
      container_image: docker.io/geerlingguy/docker-debian13-ansible:latest
