---
molecule:
  hosts:
    deb12:
      ansible_connection: containers.podman.podman
      container_image: docker.io/geerlingguy/docker-debian12-ansible:latest
      postgresql_version: 18
      postgresql_superuser_password: CHANGEME
      postgresql_users:
        - name: test
          password: test
      pgbouncer_auth_users:
        test: >-
          SCRAM-SHA-256$4096:K37HilrXKnHdsyvV+rljnA==$ZBT3gxWDJqqhG48uiEF+2cP0RnZRNkRcScsqNVzzUoE=:6iE872/7PWXTOqzRtLQ1SS3PD8pf+GnkLxqNC+jccuQ=
