---
- name: Install minimal pgBackRest and PostgreSQL
  hosts: molecule
  become: true
  roles:
    - pgbackrest
    - postgresql
  vars:
    pgbackrest_full_install: false

- name: Finalize pgBackRest configuration
  hosts: molecule
  become: true
  roles:
    - pgbackrest
