---
- name: Verify
  hosts: molecule
  become: true

  environment:
    PGUSER: postgres

  tasks:
    - name: Check required packages are installed
      ansible.builtin.package_facts:
        manager: auto

    - name: Verify package is installed
      ansible.builtin.assert:
        that: "'pgbackrest' in ansible_facts.packages"
        fail_msg: "pgbackrest package is not installed"

    - name: Check configuration
      ansible.builtin.command:
        cmd: pgbackrest check
      changed_when: false

    - name: Check full backup service
      ansible.builtin.systemd:
        name: pgbackrest-full.service
      register: pgbackrest_full_service

    - name: Verify that full backup service will not start at boot
      ansible.builtin.assert:
        that: pgbackrest_full_service.status.UnitFileState == "disabled"

    - name: Check diff backup service
      ansible.builtin.systemd:
        name: pgbackrest-diff.service
      register: pgbackrest_diff_service

    - name: Verify that diff backup service will not start at boot
      ansible.builtin.assert:
        that: pgbackrest_diff_service.status.UnitFileState == "disabled"

    - name: Start a full backup
      ansible.builtin.service:
        name: pgbackrest-full.service
        state: started

    - name: Start a diff backup
      ansible.builtin.service:
        name: pgbackrest-diff.service
        state: started

    - name: Gather backup info
      ansible.builtin.command:
        cmd: pgbackrest --stanza=main --output=json info
      register: pgbackrest_info
      changed_when: false

    - name: Verify backup counts
      ansible.builtin.assert:
        that:
          - pgbackrest_info.stdout | from_json | length == 1 # one stanza (main)
          - (pgbackrest_info.stdout | from_json)[0]['backup'] | length >= 2 # at least two backups

    - name: Verify repository
      ansible.builtin.command:
        cmd: pgbackrest --stanza=main verify
      changed_when: false
