{{ ansible_managed | comment }}
[Unit]
Description=pgBackRest agent
After=network.target
StartLimitIntervalSec=0
{% if pgbackrest_service_after %}
After={{ pgbackrest_service_after | join(" ") }}
{% endif %}

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ pgbackrest_agent_user }}
ExecStart=/usr/bin/pgbackrest server
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
