---
molecule:
  hosts:
    primary:
    replica:

pgbackrest:
  hosts:
    primary:
      pgbackrest_role: agent
      pgbackrest_agent_tls_ca_file: /etc/tls/ca.crt
      pgbackrest_agent_tls_cert_file: /etc/tls/primary.crt
      pgbackrest_agent_tls_key_file: /etc/tls/primary.key

    replica:
      pgbackrest_role: both
      pgbackrest_server_tls_ca_file: /etc/tls/ca.crt
      pgbackrest_server_tls_cert_file: /etc/tls/replica.crt
      pgbackrest_server_tls_key_file: /etc/tls/replica.key
      pgbackrest_agent_tls_ca_file: /etc/tls/ca.crt
      pgbackrest_agent_tls_cert_file: /etc/tls/replica.crt
      pgbackrest_agent_tls_key_file: /etc/tls/replica.key
      pgbackrest_server_address: 0.0.0.0
      pgbackrest_server_port: 8432
      pgbackrest_server_allowed_users:
        primary: main
        replica: main
      pgbackrest_server_repositories:
        - path: /var/lib/pgbackrest
          cipher-pass: CHANGEME
          cipher-type: aes-256-cbc
          retention-full-type: time
          retention-full: 14
          retention-diff: 3
          bundle: y
      pgbackrest_server_stanzas:
        main:
          - pg-host: primary
            pg-host-port: 8433
            pg-path: "/var/lib/postgresql/{{ postgresql_version }}/main"
          - pg-host: replica
            pg-host-port: 8433
            pg-path: "/var/lib/postgresql/{{ postgresql_version }}/main"

postgresql:
  hosts:
    primary:
      postgresql_version: 18
    replica:
      postgresql_version: 18
      postgresql_instance_role: replica
      postgresql_primary_host: primary
