---
argument_specs:
  main:
    short_description: Install and configure pgBackRest
    description:
      - Install and configure L(pgBackRest, https://pgbackrest.org/), a
        reliable backup and restore solution for PostgreSQL
    author:
      - Hachyderm contributors
    options:
      pgbackrest_role:
        description:
          - Role of the pgBackRest instance on the server.
          - C(standalone) to run everything locally.
          - C(server) to start a TLS server and orchestrate backup policies.
          - C(agent) to start a TLS server to receive operations from the server.
          - C(both) to configure a server and an agent on the same host.
        default: standalone
        choices:
          - standalone
          - server
          - agent
          - both
      pgbackrest_settings:
        description:
          - Dictionary of custom settings.
          - The key is the setting name.
          - The value is the setting value.
          - See L(General Options,https://pgbackrest.org/configuration.html#section-general).
        type: dict
      pgbackrest_schedules:
        description:
          - Dictionary of backup schedules.
          - The key is the backup type (C(full) or C(diff)).
          - The value is a dict of systemd timer settings (see L(systemd.timer,https://www.freedesktop.org/software/systemd/man/latest/systemd.timer.html)).
        type: dict
      pgbackrest_service_after:
        description:
          - List of systemd units to wait before starting pgBackRest.
        type: list
        elements: str
      pgbackrest_notification_command:
        description:
          - Command to execute when a pgBackRest backup command is performed.
          - The command takes two positional arguments.
          - "1. the C(pgBackRest) string to tell who's runing the command."
          - "2. a C(message) to tell what is happening (replaced by C(pgbackrest_notification_message_start) and C(pgbackrest_notification_message_stop))."
      pgbackrest_notification_message_start:
        description:
          - Message sent to the notification command when a backup command is starting.
        default: starting
      pgbackrest_notification_message_stop:
        description:
          - Message sent to the notification command when a backup command is stopping.
        default: done
      pgbackrest_full_install:
        description:
          - Enable tasks that are part of a circular dependency with the
            C(hachyderm.general.postgresql) role.
          - Checking configuration forces a WAL to be archived so a working
            PostgreSQL instance is required.
          - But, if PostgreSQL is deployed with the pgbackrest binary for the
            restore command, the service may not start because it requires
            pgBackRest to be fully working.
          - Same for stanza creation.
          - The C(pgbackrest_full_install) variable can be disabled to ignore
            all the tasks that are part of the circular dependency issue.
        type: bool
        default: true
      pgbackrest_additional_groups:
        description:
          - List of groups to append to the operating system user.
        type: list
        elements: str
      pgbackrest_user:
        description:
          - Operating system user for a standalone deployment.
        default: postgres
      pgbackrest_group:
        description:
          - Operating system group for a standalone deployment.
        default: postgres
      pgbackrest_repositories:
        description:
          - List of repositories in a standalone deployment.
          - The repository index will be automatically generated.
          - See L(Repository Options,https://pgbackrest.org/configuration.html#section-repository).
        type: list
        elements: dict
      pgbackrest_stanzas:
        description:
          - Dictionary of stanzas to create in a standalone deployment.
          - The repository index will be automatically generated.
          - See L(Stanza Options,https://pgbackrest.org/configuration.html#section-stanza).
        type: dict
      pgbackrest_agent_user:
        description:
          - Operating system user for an agent.
        default: postgres
      pgbackrest_agent_group:
        description:
          - Operating system group for an agent.
        default: postgres
      pgbackrest_agent_address:
        description:
          - Address to listen for an agent.
          - See L(TLS Server Address Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-address).
        default: localhost
      pgbackrest_agent_port:
        description:
          - Address to listen for an agent.
          - See L(TLS Server Port Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-port).
        type: int
        default: 8432
      pgbackrest_agent_tls_ca:
        description:
          - Content of a Certificate Authority (CA) to verify the authenticity of TLS certificates for an agent.
          - Use the same CA for agent and server.
          - If defined, the content will be written in C(pgbackrest_agent_tls_ca_file).
          - See L(TLS Server Certificate Authorities Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-ca-file).
          - Generate a test CA with C(openssl req -new -x509 -days 3650 -nodes -out ca.crt -keyout ca.key -subj "/CN=ca").
      pgbackrest_agent_tls_ca_file:
        description:
          - Path to the TLS server certificate authorities for an agent.
          - For certificates signed by a trusted CA (like Let's Encrypt), use C(/etc/ssl/certs/ca-certificates.crt).
          - See L(TLS Server Certificate Authorities Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-ca-file).
        type: path
        default: /etc/pgbackrest/ca.crt
      pgbackrest_agent_tls_cert:
        description:
          - Content of the TLS server certificate for an agent.
          - See L(TLS Server Certificate
            Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-cert-file).
          - Generate a test cert (and key) with C(openssl req -new -nodes -out
            primary.csr -keyout primary.key -subj "/CN=primary") and C(openssl
            x509 -req -in primary.csr -days 3650 -CA ca.crt -CAkey ca.key -CAcreateserial
            -out primary.crt) where C(primary) is the resolvable hostname of the agent.
      pgbackrest_agent_tls_cert_file:
        description:
          - Path to the TLS server certificate for an agent.
          - See L(TLS Server Certificate Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-cert-file).
        type: path
        default: /etc/pgbackrest/server.crt
      pgbackrest_agent_tls_key:
        description:
          - Content of the TLS server key for an agent.
          - If defined, the content will be written in C(pgbackrest_agent_tls_key_file).
          - See L(TLS Server Key Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-key-file).
      pgbackrest_agent_tls_key_file:
        description:
          - Path to the TLS server key file for an agent.
          - See L(TLS Server Key Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-key-file).
        type: path
        default: /etc/pgbackrest/server.key
      pgbackrest_agent_stanzas:
        description:
          - Dictionary of stanzas supported by an agent.
          - The key is the name of each stanza.
          - The value is a list of stanza options.
          - The server index will be automatically generated.
          - See L(Stanza Options,https://pgbackrest.org/configuration.html#section-stanza).
        type: dict
      pgbackrest_agent_allowed_users:
        description:
          - Dictionary of allowed users (server) on the agent.
          - The key is the hostname.
          - The value is the stanza name.
          - See L(TLS Server Authorized Clients Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-auth).
        type: dict
      pgbackrest_agent_repositories:
        description:
          - List of agent to repositories (server) communication.
          - All repositories must be declared.
          - If pgBackRest is supposed to send backups to multiple object
            storage or filesystems, create a list of the size of the number of
            server repositories (C(pgbackrest_server_repositories)).
          - Even if the content is repeated.
          - The repository index will be automatically generated.
          - See L(Repository Options,https://pgbackrest.org/configuration.html#section-repository).
        type: list
        elements: dict
        default:
          - host: localhost
            port: 8432
            user: pgbackrest
            config: /etc/pgbackrest-server/pgbackrest.conf
      pgbackrest_server_user:
        description:
          - Operating system user for a server.
        default: pgbackrest
      pgbackrest_server_user_home:
        description:
          - Home of the operating system user for a server.
        type: path
        default: /var/lib/pgbackrest
      pgbackrest_server_group:
        description:
          - Operating system group for a server.
        default: pgbackrest
      pgbackrest_server_address:
        description:
          - Address to listen for a server.
          - See L(TLS Server Address Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-address).
        default: localhost
      pgbackrest_server_port:
        description:
          - Port to listen for a server.
          - See L(TLS Server Port Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-port).
        type: int
        default: 8432
      pgbackrest_server_tls_ca:
        description:
          - Content of a Certificate Authority (CA) to verify the authenticity of TLS certificates for a server.
          - Use the same CA for agent and server.
          - If defined, the content will be written in C(pgbackrest_server_tls_ca_file).
          - See L(TLS Server Certificate Authorities Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-ca-file).
      pgbackrest_server_tls_ca_file:
        description:
          - Path to the TLS server certificate authorities for a server.
          - See L(TLS Server Certificate Authorities Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-ca-file).
        type: path
        default: /etc/pgbackrest-server/ca.crt
      pgbackrest_server_tls_cert:
        description:
          - Content of the TLS server certificate for a server.
          - When C(pgbackrest_role) is C(both), use the same TLS cert for agent
            and server.
          - If defined, the content will be written in
            C(pgbackrest_server_tls_cert_file).
          - See L(TLS Server Certificate
            Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-cert-file).
          - Generate a test cert (and key) with C(openssl req -new -nodes -out
            server.csr -keyout server.key -subj "/CN=server") and C(openssl x509
            -req -in server.csr -days 3650 -CA ca.crt -CAkey ca.key -CAcreateserial -out
            server.crt) where C(server) is the resolvable hostname of the backup server.
      pgbackrest_server_tls_cert_file:
        description:
          - Path to the TLS server certificate for a server.
          - See L(TLS Server Certificate Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-cert-file).
        type: path
        default: /etc/pgbackrest-server/server.crt
      pgbackrest_server_tls_key:
        description:
          - Content of the TLS server key for a server.
          - When C(pgbackrest_role) is C(both), use the same TLS key for agent and server.
          - If defined, the content will be written in C(pgbackrest_server_tls_key_file).
          - See L(TLS Server Key Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-key-file).
      pgbackrest_server_tls_key_file:
        description:
          - Path to the TLS server key file for a server.
          - See L(TLS Server Key Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-key-file).
        type: path
        default: /etc/pgbackrest-server/server.key
      pgbackrest_server_repositories:
        description:
          - List of repositories.
          - See L(Repository Options,https://pgbackrest.org/configuration.html#section-repository).
        type: list
        elements: dict
      pgbackrest_server_stanzas:
        description:
          - Dictionary of stanzas to create on a server.
          - The key is the stanza name.
          - The value is a list of repositories.
          - The server index will be automatically generated.
          - See L(Stanza Options,https://pgbackrest.org/configuration.html#section-stanza).
        type: dict
      pgbackrest_server_allowed_users:
        description:
          - Dictionary of allowed users (agents) on the server.
          - The key is the hostname.
          - The value is the stanza name.
          - Names must be included in the TLS certificate and resolvable by DNS.
          - See L(TLS Server Authorized Clients Option,https://pgbackrest.org/configuration.html#section-server/option-tls-server-auth).
        type: dict
      pgbackrest_server_lock_path:
        description:
          - Path where lock files are stored on the server.
          - See L(Lock Path Option,https://pgbackrest.org/configuration.html#section-general/option-lock-path).
        type: path
        default: /tmp/pgbackrest-server
