---
postgresql_version: 15
postgresql_cluster_name: main
postgresql_initdb_args: "-k"
postgresql_data_directory: "/var/lib/postgresql/{{ postgresql_version }}/{{ postgresql_cluster_name }}"
postgresql_listen_addresses:
  - localhost
postgresql_port: 5432
postgresql_archive_mode: "on"
# postgresql_archive_command:
# postgresql_restore_command:
postgresql_logging_collector: "on"
# postgresql_log_timezone:
# postgresql_log_destination:
# postgresql_log_directory:
# postgresql_log_filename:
# postgresql_log_file_mode:
postgresql_settings: {}
postgresql_hba_rules:
  - "local all all scram-sha-256      # allow local connections with secure password"
  - "host  all all all scram-sha-256  # allow host (with and without TLS) with secure password"
postgresql_manage_pgpass: false
postgresql_manage_replication: false
postgresql_wal_level: replica
postgresql_replication_username: repl
# postgresql_replication_password:
postgresql_replication_network: 127.0.0.1/32
postgresql_max_number_of_replicas: 10
postgresql_instance_role: primary
postgresql_replication_slot_name: "{{ inventory_hostname }}"
# postgresql_primary_host:
postgresql_primary_port: 5432
postgresql_users: []
postgresql_service_after: []
# postgresql_upgrade_from_version:
postgresql_upgrade_drop_cluster: true
postgresql_upgrade_remove_packages: true
