---
molecule:
  hosts:
    deb12:
      ansible_connection: containers.podman.podman
      container_image: docker.io/geerlingguy/docker-debian12-ansible:latest
      postgresql_version: 18
      postgresql_superuser_password: CHANGEME
      postgresql_manage_pgpass: true
      postgresql_archive_command: 'pgbackrest --stanza=main --log-level-console=warn archive-push %p'
      postgresql_restore_command: 'pgbackrest --stanza=main --log-level-console=warn archive-get %f "%p"'
      pgbackrest_repositories:
        - path: /var/lib/pgbackrest/repo1
          cipher-pass: CHANGEME
          cipher-type: aes-256-cbc
          retention-full-type: time
          retention-full: 14
          retention-diff: 3
          bundle: y
        - path: /var/lib/pgbackrest/repo2
          cipher-pass: CHANGEME
          cipher-type: aes-256-cbc
          retention-full-type: time
          retention-full: 14
          retention-diff: 3
          bundle: y
      pgbackrest_stanzas:
        main:
          - pg-path: "/var/lib/postgresql/{{ postgresql_version }}/main"
            pg-host-port: 5432
