---
name: Ansible Molecule

on:
  workflow_call:
    inputs:
      python-version:
        required: false
        type: string
        default: "3.13"

jobs:
  define-versions:
    runs-on: ubuntu-latest
    outputs:
      ansible-versions: ${{ steps.list-ansible-versions.outputs.ansible-versions }}
      roles: ${{ steps.list-roles.outputs.roles }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: List Ansible versions
        id: list-ansible-versions
        run: |
          ansible_versions=$(./.github/scripts/list_ansible_versions.py)
          echo "ansible-versions=$ansible_versions" >> "$GITHUB_OUTPUT"

      - name: List roles
        id: list-roles
        run: |
          roles=$(./.github/scripts/list_roles.py)
          echo "roles=$roles" >> "$GITHUB_OUTPUT"

  molecule:
    runs-on: ubuntu-latest
    name: "molecule-${{ matrix.role }}-${{ matrix.ansible-version }}"
    needs:
      - define-versions
    strategy:
      fail-fast: false
      matrix:
        role: ${{ fromJson(needs.define-versions.outputs.roles) }}
        ansible-version: ${{ fromJson(needs.define-versions.outputs.ansible-versions) }}
    if: needs.define-versions.outputs.ansible-versions != '[]' &&
        needs.define-versions.outputs.ansible-versions != '' &&
        needs.define-versions.outputs.roles != '[]' &&
        needs.define-versions.outputs.roles != ''
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.python-version }}

      - name: Install molecule
        run: |
          python -m pip install --upgrade pip
          pip install \
            molecule==25.12.0 \
            ansible-core~=${{ matrix.ansible-version }}.0

      - name: Install dependencies
        working-directory: ./roles/${{ matrix.role }}
        run: |
          molecule dependency --all

      - name: Run molecule
        working-directory: ./roles/${{ matrix.role }}
        run: |
          molecule test --all
