---
- name: Install minimal pgBackRest and PostgreSQL
  hosts: molecule
  become: true
  roles:
    - pgbackrest
    - postgresql
  vars:
    pgbackrest_full_install: false

- name: Finalize pgBackRest configuration
  hosts: molecule
  become: true
  roles:
    - pgbackrest

- name: Create backups
  hosts: molecule
  become: true
  tasks:
    - name: Create full backup
      ansible.builtin.service:
        name: pgbackrest-full
        state: started

    - name: Create diff backup
      ansible.builtin.service:
        name: pgbackrest-diff
        state: started

- name: Install pgBackRest Exporter
  hosts: molecule
  roles:
    - pgbackrest_exporter
  vars:
    pgbackrest_exporter_version: 0.20.0
    pgbackrest_exporter_checksum: db47d0bf39285453f71668835b8f2f2f6aa0e9e83f3470f190259073c6a89469
